@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body{
    background-image: url(https://i.pinimg.com/originals/93/98/94/9398944b931f51d4ab0a8e92f44ca452.jpg);
    background-size: 100vw 100vh;
    overflow: hidden;
    margin-bottom: 0 auto;
    font-family: 'Poppins', sans-serif; 
}



.container{ 
  backdrop-filter: blur(2.5px);
  display: flex;
  height: 100vh;
  width: 100%;
}
.raio-icon{
  margin-top: 4px;
  width: 30px;
}
.quiz-section{
  position: relative;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: .8s ease-in-out;
  transition-delay: .25s;
}

.quiz-section .quiz-box{
  color: #fff;
  position: relative;
  width: 600px;
  background: #8bc5cd;
  border: solid 2px #b1e6ed;
  box-shadow:  0 0 10px #b1e6ed;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}

.quiz-box h1{
  font-size: 32px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  box-shadow: 0 0 5px #b1e6ed;
  border: solid 2px #b1e6ed;
  border-radius: 8px;
  background: #5a9ca5;
}

.quiz-box .quiz-header{
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #622900;
}

.quiz-header span{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.quiz-header .header-score{
  color: #09001d;
  background: #fff;
  border-radius: 6px;
  padding: 7px;
}

.quiz-box .question-text{
  color: #fff;
  font-size: 24px;
  font-weight: 600;
 
}

.option-list .option{
  color: #fff;
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 17px;
  margin: 15px 0;
  cursor: pointer;
  transition: .3s;
}

.option-list .option:hover{
  background: #5a9ca5;
  border-color: #5a9ca5;
}

.quiz-box .quiz-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #fff;
  margin-top: 20px;
  padding: 20px;
}

.quiz-footer .quiz-total{
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn{
  font-family: 'Popins' sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 35px;
  background-color: #279ab4;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  border-radius: 6px;
  border: 2px solid #fff;
  font-weight: 500;
  box-shadow: linear-gradient(90.89deg, #22AE75 0%, #00874F 52.36%);
  pointer-events: auto;
  cursor: pointer;
  transition: .5s;
}

.quiz-footer .next-btn:hover{
  background: transparent;
  box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.05), 0px 2px 0px #FFFFFF, inset 0px 2px 0px rgba(255, 255, 255, 0.4);
}

.option input[type="radio"] {
  display: none;
}

.option label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;
}

.option label span {
  margin-left: 0px;
}

.option input[type="radio"] + label:before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 4em;
  margin-right: 8px;
  background-color: transparent;
  transition: 0.3s;
}

.option input[type="radio"]:checked + label:before {
  background-color: #ffd56a; /* Cor do radio button quando selecionado */
  border-color: #ffd05a;
}